# Example usage

The `tidyversetopandas` package brings the familiar syntax of R's tidyverse to Python's pandas library, making it an invaluable tool for data scientists and analysts who are transitioning from R to Python. This documentation provides a real-life example demonstrating how to use the key functions of `tidyversetopandas`, including `mutate`, `filter`, `select`, and `arrange`.

### Getting Started
First, ensure that `tidyversetopandas` is installed and imported alongside pandas:

In [1]:
# Import necessary packages
import pandas as pd
from tidyversetopandas import tidyversetopandas as ttp

### Example Data
We will use a sample dataset representing sales data for illustration. Let's create a pandas DataFrame:

In [2]:
# Sample data
data = {
    "ProductID": [101, 102, 103, 104],
    "Sales": [250, 150, 300, 200],
    "Region": ["East", "West", "East", "South"]
}
df = pd.DataFrame(data)

### Using `tidyversetopandas`
##### 1. Mutate: Adding and Modifying Columns
Suppose we want to calculate the VAT (Value Added Tax) for each sale, assuming a flat rate of 15%. We can use the mutate function to add this new column:

In [3]:
# Adding a new column for VAT
df = ttp.mutate(df, VAT=lambda x: x["Sales"] * 0.15)

##### 2. Filter: Row-wise Filtering
If we need to filter the data to include only sales greater than $200, filter comes in handy:

In [4]:
# Filtering rows where sales are greater than 200
df = ttp.filter(df, "Sales > 200")

##### 3. Select: Choosing Specific Columns
To focus on specific columns, for instance, ProductID and VAT, use the select function:

In [5]:
# Selecting specific columns
df = ttp.select(df, "ProductID", "VAT")

##### 4. Arrange: Sorting Data
Finally, to sort the data based on ProductID in descending order:

In [6]:
# Sorting the DataFrame
df = ttp.arrange(df, False, "ProductID")

### Conclusion
With these simple and intuitive functions, tidyversetopandas makes the transition from R's tidyverse to Python's pandas seamless and efficient. Whether it's data manipulation, analysis, or preparation for visualization, this package ensures a smooth and familiar workflow for R users in the Python environment.

Remember, this package is in development, and more features and improvements are to be expected. For more detailed information, refer to the full documentation and the repository on GitHub.