# Tutorial: Palmer Penguins Dataset

[short description]

In [1]:
# Load Penguins dataset
import pandas as pd
import sys

# sys.path.append("src")
from tidyversetopandas import tidyversetopandas as ttp
penguins = pd.read_csv("penguins.csv")

## Remove NAs (filter)

## Filter species + other things (filter)

## Add new column: BMI or smthg (mutate)

## Select only some columns (select)

## Sort the data on specific column (arrange)

In Python, the sort function is `sort_values()`, which is under the package `pandas`. In the `tidyverse` package of R, however, the function is named `arrange()`. It takes in the whole dataset as the first parameter, and then the names of columns that the data will be sorted on. To make the Python version of sort function more friendly to people who have got used to work with R and `tidyverse`, we wrapped the `pandas` function following the structure of the `tidyverse` function `arrange()`.

To have a better understanding of how it works, we can try sorting the palmerpenguin dataset to find the few penguins with the largest weights.

In [2]:
penguins_sorted = ttp.arrange(penguins, False, "body_mass_g")
penguins_sorted.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
169,170,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,male,2007
185,186,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,male,2007
269,270,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,male,2009
229,230,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,male,2008
263,264,Gentoo,Biscoe,49.8,15.9,229.0,5950.0,male,2009

Above, we can see the top few penguins with the largest weight are all Gentoo penguins from Biscoe island.

We can also sort the data with multiple columns using the `arrange()` function. Suppose we want to find penguins with shortest bill length and bill depth:

In [3]:
penguins_small_bill = ttp.arrange(penguins, True, "bill_length_mm", "bill_depth_mm")
penguins_small_bill.head(1)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
142,143,Adelie,Dream,32.1,15.5,188.0,3050.0,female,2009

## Do everything with pipe (all the above)